.s-home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-bg);
}
.s-home-top-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1921px;
  height: 98px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  background-color: #1e1c1c;
}
.s-home-text {
  top: 32px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  text-align: center;
}
.s-home-form {
  top: 223px;
  left: 447px;
  width: 462px;
  height: 394px;
  display: flex;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #ffffff;
}
.s-home-text01 {
  top: 41px;
  right: 23px;
  position: absolute;
  font-size: 20px;
  line-height: 1.5;
}
.s-home-pasted-image {
  top: 34px;
  left: 45px;
  width: 102px;
  height: 99px;
  position: absolute;
}
.s-home-text08 {
  top: 159px;
  left: 166px;
  position: absolute;
  font-size: 20px;
  line-height: 1.5;
}
.s-home-text20 {
  top: 300px;
  left: 158px;
  position: absolute;
  font-size: 20px;
  line-height: 1.5;
}
.s-home-navlink {
  top: 226px;
  left: 1014px;
  width: 217px;
  height: 59px;
  position: absolute;
  font-size: 20px;
  box-shadow: 1px 1px 5px 0px #000000;
  text-align: center;
  text-decoration: none;
}
.s-home-navlink1 {
  top: 310px;
  left: 1017px;
  width: 214px;
  height: 59px;
  position: absolute;
  font-size: 20px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;
  text-align: center;
  text-decoration: none;
}
.s-home-navlink2 {
  top: 558px;
  left: 1018px;
  width: 214px;
  height: 59px;
  position: absolute;
  font-size: 20px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px 0px;
  text-align: center;
  padding-right: 11px;
  text-decoration: none;
}
.s-home-container1 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1200px) {
  .s-home-top-bar {
    width: 1200px;
  }
  .s-home-form {
    top: 163px;
    left: 71px;
  }
  .s-home-text20 {
    top: 300px;
    left: 158px;
    bottom: 0px;
    position: absolute;
  }
  .s-home-navlink {
    top: 163px;
    left: 579px;
    position: absolute;
  }
  .s-home-navlink1 {
    top: 246px;
    left: 579px;
    position: absolute;
  }
  .s-home-navlink2 {
    top: 498px;
    left: 579px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .s-home-top-bar {
    width: 991px;
  }
}
@media(max-width: 767px) {
  .s-home-top-bar {
    width: 767px;
  }
  .s-home-form {
    left: 30px;
  }
  .s-home-navlink {
    top: 582px;
    left: 30px;
  }
  .s-home-navlink1 {
    top: 582px;
    left: 275px;
    position: absolute;
  }
  .s-home-navlink2 {
    top: 704px;
    left: 30px;
    position: absolute;
  }
}
@media(max-width: 479px) {
  .s-home-top-bar {
    width: 479px;
  }
  .s-home-form {
    width: 442px;
  }
  .s-home-pasted-image {
    top: 29px;
    left: 26px;
  }
  .s-home-navlink1 {
    left: 250px;
  }
}
