.sv-arrange-meeting2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-bg);
}
.sv-arrange-meeting2-top-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1921px;
  height: 98px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #1e1c1c;
}
.sv-arrange-meeting2-text {
  top: 32px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  text-align: center;
}
.sv-arrange-meeting2-form {
  top: 275px;
  left: 0px;
  right: 0px;
  width: 497px;
  height: 101px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  background-color: #fbe2e2;
}
.sv-arrange-meeting2-text1 {
  top: 43px;
  left: 30px;
  position: absolute;
}
.sv-arrange-meeting2-select {
  right: 38px;
  bottom: 38px;
  position: absolute;
}
.sv-arrange-meeting2-navlink {
  top: 431px;
  left: 0px;
  right: 0px;
  width: 145px;
  height: 54px;
  margin: auto;
  position: absolute;
  box-shadow: 1px 1px 5px 0px #000000;
  text-align: center;
  text-decoration: none;
}
.sv-arrange-meeting2-text2 {
  top: 18px;
  left: 46px;
  position: absolute;
}
.sv-arrange-meeting2-text5 {
  top: 236px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
@media(max-width: 1200px) {
  .sv-arrange-meeting2-top-bar {
    width: 1200px;
  }
}
@media(max-width: 991px) {
  .sv-arrange-meeting2-top-bar {
    width: 991px;
  }
}
@media(max-width: 767px) {
  .sv-arrange-meeting2-top-bar {
    width: 767px;
  }
}
@media(max-width: 479px) {
  .sv-arrange-meeting2-top-bar {
    width: 479px;
  }
  .sv-arrange-meeting2-form {
    width: 454px;
  }
}
